.how-it-works-container
  .hero
    background-color: $white
    .title
      h5
        max-width: 1000px
        margin: auto
        .section-cell
          display: block
          img
            display: block
    .sections-logos
      text-align: center
      margin-bottom: 5rem
      img
        margin-bottom: 0.5rem
      h6
        font-weight: bold
    .fold-image
      position: relative
      h3
        margin-top: 6rem
      image
        position: absolute
  .sections-description
    background-color: $light-gray
    padding-top: 5rem
    h3
      margin-bottom: 2rem
    h5
      text-align: justify
    ul
      list-style: none
      li
        margin-bottom: 1rem
        text-align: justify
  .sign-up
    background-color: $white
