.landing-page-container
  .bg-cstq
    background-image: url('https://image.ibb.co/jM0o6R/Fundo_Hubs.jpg')
  .bg-cifsq
    background-image: url('https://image.ibb.co/bEKqMR/cifsq_hero_bg.jpg')
  .bg-svl
    background-color: $white
  .hero
    padding-top: 3rem
    padding-bottom: 3rem
    color: $white
    .logo-wrap
      margin-bottom: 2rem
    h3
      padding-top: 2rem
    ol
      li
        font-size: 1.4rem
    .mb-1rem
      margin-bottom: 1rem
  .description
    padding-top: 1rem
    padding-bottom: 1rem
    color: $white
    background-color: $dark-blue
  .details
    padding-top: 3rem
    padding-bottom: 1rem
    color: $dark-blue
    background-color: $white
    .event-logo-wrap
      margin-top: 2rem
      margin-bottom: 5rem
    h5
      color: $medium-blue
    p
      margin-bottom: 1.5rem
      a
        color: $success-color
  .speakers
    padding-bottom: 6rem
    background-color: $light-gray
    h3
      margin-top: 3rem
      margin-bottom: 3rem
      color: $dark-gray
      background-color: inherit
      font-weight: bold
    h5
      color: $dark-gray
    .cta
      padding-top: 1rem
    .video-wrap
      position: relative
      a
        image
          margin: 0 auto
          width: 100%
          height: auto
        .fa-stack
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          .fa-circle
            color: $black
            opacity: 0.5
          .fa-youtube-play
            color: $white

  .testimonials
    padding-top: 4rem
    background-color: $white
    image
      margin: 0 auto
    .vertical-padding-5
      padding: 5px 0
    h5
      color: $medium-blue
    p
      text-align: justify
      color: $dark-gray
