.mission-container
  background-color: $white
  .title
    padding-top: 4rem
    padding-bottom: 2rem
    text-align: center
    font-weight: bold
    span
      padding: 0 0.2rem 0.1rem 0.2rem
  .mission-text
    text-align: justify
    margin-bottom: 6rem
    span
      padding: 0.2rem 0.2rem
