.pricing-table
  background-color: $white
  padding-top: 4rem
  padding-bottom: 5rem
  .header
    h2
      padding-bottom: 1rem
    p
      margin-bottom: 2.5rem
      font-weight: 500
  .top-space
    margin-top: 23px
  .save
    margin-bottom: -0.9rem
    z-index: 1
    position: relative
    h5
      margin: 0 auto
      padding: 0.3rem 0.5rem
      span
        padding: 0.3rem 0.4rem 0.5rem 0.4rem
        color: $white
        background-color: $black
        font-weight: bold
  .card
    img
      height: 5px
    .card-divider
      display: block
      color: $white
      .price
        .cell:first-child
          text-align: center
          @include breakpoint(large)
            text-align: right
        .cell:last-child
          text-align: center
          @include breakpoint(large)
            text-align: left
        h1
          //margin-bottom: 0
          font-size: 4rem
          font-weight: bolder
        p
          margin-bottom: 0
          padding-top: 0rem
          padding-right: 0.4rem
          padding-left: 0.4rem
          @include breakpoint(large)
            padding-top: 1.5rem
    .card-section
      padding: 1rem
