.landing-page-container
  .bg-cifsq
    .hero
      .grid-container
        .grid-x.grid-padding-x
          .medium-6.medium-centered.cell
            .logo-wrap
              = image_tag 'https://image.ibb.co/jkrFo6/Logo_CIFSQ_600x193.png'
        .grid-x.grid-padding-x
          .medium-6.cell
            h3 Palestras e aulas para você:
            ol
              li.mb-1rem
                ' Trazer resultados tangíveis para os pacientes (com novos
                | caminhos para combater doenças crônicas)
              li.mb-1rem
                | Destacar-se e ser mais humano como profissional da saúde.
            = link_to 'Clique e comece a crescer!',
              '#crescer',
              class: 'button success expand large large-centered cell'
          .medium-6.cell
            .responsive-embed.widescreen
              iframe[
                src="https://www.youtube.com/embed/1SDudF8G-DU?showinfo=0"
                frameborder="0"
                gesture="media"
                allowfullscreen
            ]
  .description
    .grid-container.text-center
      h4
       span.bold> Mais de 120 palestras
       ' dos principais eventos de Saúde Integrativa
       span.bold> por R$ 29,90
  .details
    .grid-container
      .grid-x.grid-padding-x
        .medium-12.cell
          h5.bold Como vou assistir?
          p
            ' Assista quando e onde quiser (celular, note, tablet, smart TV)
            ' através da
            strong> Pangeas:
            ' uma plataforma online que traz
            strong> Conteúdos de Qualidade para profissionais da
            strong> Saúde Integrativa.
            ' São vídeos de 6 países sobre a Biorressonância, Terapias
            ' Frequenciais, Alimentação, Saúde Quântica, Antroposofia e
            ' muito mais!
            = link_to 'Clique aqui e comece a crescer', '#crescer'
        .medium-12.cell
          h5.bold O que é o CIFSQ?
          p
            ' O
            strong> CIFSQ
            ' é um congresso de projeção mundial focado em promover a visão
            ' integrativa da saúde trazendo informações para
            strong> Quebrar Paradigmas e apontar os Caminhos do Futuro.
            ' Descubra por que a Rússia e a Alemanha estão anos luz na nossa
            ' frente aprendendo com palestrantes de renome global
            |(conhecimentos práticos e casos reais).
        .medium-12.cell
          h5.bold Quais eventos estão disponíveis para associados?
          p
            ' Além do CIFSQ, você vai encontrar na Pangeas os conhecimentos de
            ' diversos outros eventos (além dos que ainda estão por vir), além
            ' de aulas, entrevistas e outros conteúdos. Em 1 ano já produzimos
            ' mais de 200 vídeos.
      .grid-x
        .medium-12.cell
          .event-logo-wrap
            =image_tag 'https://image.ibb.co/erkzD6/Logos_Congressos.jpg'
      .grid-x.grid-padding-x
        .medium-8.cell
          h5
            ' Para começar a
            strong> quebrar os paradigmas
            | é só clicar no botão
        .medium-4.cell
          = link_to 'Quero ter acesso a tudo!',
            '#crescer',
            class: 'button success expand large-12 large-centered cell'
  .speakers
    .grid-container
      .grid-x.grid-padding-x
        .medium-12.centered.cell
          h3.text-center Conheça os Palestrantes do CIFSQ
      .grid-x.grid-padding-x.grid-margin-y
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video1',
              image_url: 'https://image.ibb.co/b8iWA6/'\
              'thumbs_CIFSQ_Korotkov.jpg',
              video_url: 'https://www.youtube.com/embed/zL-aTsR4ZxM' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video2',
              image_url: 'https://image.ibb.co/d6Y9xm/thumbs_CIFSQ_Popp.jpg',
              video_url: 'https://www.youtube.com/embed/v2EEH65kYgk' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video3',
              image_url: 'https://image.ibb.co/n7SrA6/thumbs_CIFSQ_Saab.jpg',
              video_url: 'https://www.youtube.com/embed/hH_BN8631D4' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video4',
              image_url: 'https://image.ibb.co/ibqYOR/thumbs_CIFSQ_Paul.jpg',
              video_url: 'https://www.youtube.com/embed/vNokQKPtYXA' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video5',
              image_url: 'https://image.ibb.co/cRRjV6/thumbs_CIFSQ_Naif.jpg',
              video_url: 'https://www.youtube.com/embed/-PkwnsaPSCo' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video6',
              image_url: 'https://image.ibb.co/jLwwcm/thumbs_CIFSQ_Icaro.jpg',
              video_url: 'https://www.youtube.com/embed/dy568FMC4zg' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video7',
              image_url: 'https://image.ibb.co/dJ3yq6/thumbs_CIFSQ_Kater.jpg',
              video_url: 'https://www.youtube.com/embed/c962oEaXENo' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video8',
              image_url: 'https://image.ibb.co/cJwUxm/thumbs_CIFSQ_Leniane.jpg',
              video_url: 'https://www.youtube.com/embed/FJZMI65TNzM' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video9',
              image_url: 'https://image.ibb.co/kyjSiR/thumbs_CIFSQ_Gustavo.jpg',
              video_url: 'https://www.youtube.com/embed/ZYIl3e8Tfsk' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video10',
              image_url: 'https://image.ibb.co/fKBUxm/'\
              'thumbs_CIFSQ_Francisco_Vianna.jpg',
              video_url: 'https://www.youtube.com/embed/dF3vdHFKuVc' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video11',
              image_url: 'https://image.ibb.co/g5iyq6/'\
              'thumbs_CIFSQ_Elizette.jpg',
              video_url: 'https://www.youtube.com/embed/6cPOAk2Fz-s' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video12',
              image_url: 'https://image.ibb.co/j98niR/'\
              'thumbs_CIFSQ_Braghini.jpg',
              video_url: 'https://www.youtube.com/embed/l97TcgdeaKM' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video13',
              image_url: 'https://image.ibb.co/mSFpxm/thumbs_CIFSQ_Boris.jpg',
              video_url: 'https://www.youtube.com/embed/bFO6inOv_vY' \
            }
        .medium-6.large-4.cell.text-center.cta
          h5
            ' Clique no botão abaixo e comece a assistir as palestras agora
            | mesmo (além de outros 200 vídeos sobre saúde integrativa).
          = link_to 'Quero assistir as palestras!',
            '#crescer',
            class: 'button success'
  .testimonials
    .grid-container
      .grid-x.grid-padding-x
        .medium-6.cell.text-center
          = image_tag 'https://image.ibb.co/mfZt86/Boris_Petrovic.png'
          h5 Presidente do Instituto Nikola Tesla
          p
            ' "Nunca presenciei um evento tão bem focado juntando médicos
            ' de várias especializações do Brasil inteiro, abertos para o campo
            ' de medicina energética e integrativa. As palestras e workshops não
            ' só ficaram na aprendizagem do novo, mas também foram criadas novas
            ' oportunidades para pesquisa e desenvolvimento no Brasil usando
            | inovação em tecnologias de BioEletrografia e BioFotônica."
        .medium-6.cell.text-center
          = image_tag 'https://image.ibb.co/bT07GR/Dr_Carlos_Braghini.png'
          h5 Médico e Quiropraxista
          p
            ' "Estar associado à plataforma Pangeas me torna participante deste
            ' projeto maravilhoso. E de bônus, me traz a certeza de que terei
            ' acesso a conteúdo relevante, pouco acessível nos canais
            ' convencionais e de qualidade impecável. Vida longa e próspera à
            ' equipe Pangeas."
  #crescer
    = render \
      partial: 'layouts/pricing_table',
      locals: { \
        title: 'Como começar a crescer' \
      }
