.landing-page-container
  .bg-cifsq
    .hero
      .grid-container
        .grid-x.grid-padding-x
          .medium-6.medium-centered.cell
            .logo-wrap
              = image_tag 'https://image.ibb.co/ewE5Ew/'\
                'Landing_CIFSQ_Logo_Evento.png'
        .grid-x.grid-padding-x
          .medium-6.cell
            h3.pt-0 Aulas e palestras para você:
            ol
              li.mb-1rem
                ' Trazer resultados tangíveis para a sua saúde e a saúde dos
                | pacientes (com novos caminhos para combater doenças crônicas)
              li.mb-1rem
                ' Destacar-se como profissional da saúde inovando e humanizando
                | o atendimento.
            = link_to 'Clique e comece a crescer!',
              '#crescer',
              class: 'button success expand large large-centered cell'
          .medium-6.cell
            .responsive-embed.widescreen
              iframe[
                src="https://player.vimeo.com/video/248493443"
                frameborder="0"
                gesture="media"
                allowfullscreen
            ]
  .description
    .grid-container.text-center
      h5
       span.bold> E mais outras 100 palestras
       ' dos principais eventos de Saúde Integrativa
       span.bold> por R$ 29,90
  .details
    .grid-container
      .grid-x.grid-padding-x
        .medium-12.cell
          h4.bold Como vou assistir?
          p
            ' Assista quando e onde quiser (celular, note, tablet, smart TV)
            ' através da
            strong> Pangeas:
            ' uma plataforma online que traz
            strong> Conteúdos de Qualidade para profissionais da
            strong> Saúde Integrativa.
            ' São vídeos de 7 países sobre a Biorressonância, Terapias
            ' Frequenciais, Alimentação, Saúde Quântica, Antroposofia e
            ' muito mais!
            = link_to 'Clique aqui e comece a crescer', '#crescer'
        .medium-12.cell
          h4.bold O que é o CIFSQ?
          p
            ' O
            strong> CIFSQ
            ' é um congresso de projeção mundial realizado pela QuantumBIO e
            ' focado em promover a visão integrativa da saúde. São informações
            ' para
            strong> Quebrar Paradigmas e apontar os Caminhos do Futuro.
            ' Descubra por que a Biofísica está anos luz na frente dos caminhos
            ' da medicina convencional aprendendo com palestrantes de renome
            | global (práticas e casos clínicos).
        .medium-12.cell
          h4.bold Quais eventos estão disponíveis para associados?
          p
            ' Além das duas edições do CIFSQ, você vai encontrar na Pangeas
            ' conhecimentos de diversos outros eventos além de aulas,
            ' entrevistas, documentários e outros conteúdos. Uma biblioteca
            | contando com mais de 200 conteúdos exclusivos.
      .grid-x
        .medium-12.cell
          .event-logo-wrap
            .grid-x
              .medium-3.cell.text-center
                =image_tag 'https://image.ibb.co/fbR7SG/'\
                  'Landing_CIFSQ_Logos_menores_CIFSQ.png',
                  class: 'img'
              .medium-3.cell.text-center
                =image_tag 'https://image.ibb.co/hgfqgb/'\
                  'Landing_CIFSQ_Logos_menores_CISQ.png',
                  class: 'img'
              .medium-3.cell.text-center
                =image_tag 'https://image.ibb.co/isQO1b/'\
                  'Landing_CIFSQ_Logos_menores_Exposul.png',
                  class: 'img'
              .medium-3.cell.text-center
                =image_tag 'https://image.ibb.co/hgR7SG/'\
                  'Landing_CIFSQ_Logos_menores_CSTQ.png',
                  class: 'img'
      .grid-x.grid-padding-x
        .auto.cell
        .medium-7.cell
          h4
            ' Para começar a
            strong> quebrar paradigmas
            | é só clicar no botão
        .medium-4.cell
          = link_to 'Quero ter acesso a tudo!',
            '#crescer',
            class: 'button success expand large-12 large-centered cell'
        .auto.cell
  .speakers
    .grid-container
      .grid-x.grid-padding-x
        .medium-12.centered.cell
          h2.text-center Conheça os Palestrantes do CIFSQ
      .grid-x.grid-padding-x.grid-margin-y
        .medium-6.large-6.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video1',
              image_url: 'https://image.ibb.co/'\
                'bFyRPb/Thumb_Palestra_Oschman_1_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248503164' \
            }
        .medium-6.large-6.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video2',
              image_url: 'https://image.ibb.co/'\
                'mdGgQ6/Thumbs_CIFSQ_Korotkov_640.jpg',
              video_url: 'https://player.vimeo.com/video/248985684' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video3',
              image_url: 'https://image.ibb.co/'\
                'kSOvk6/Thumbs_CIFSQ_Alexander_Popp_640.jpg',
              video_url: 'https://player.vimeo.com/video/248983235' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video4',
              image_url: 'https://image.ibb.co/'\
                'cd3hxw/Thumb_Palestra_Dorys_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248492978' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video5',
              image_url: 'https://image.ibb.co/'\
                'cBLuCm/Thumbs_CIFSQ_Boris_640.jpg',
              video_url: 'https://player.vimeo.com/video/248983868' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video6',
              image_url: 'https://image.ibb.co/'\
                'bRTFHw/Thumb_Palestra_Kunio_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248987582' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video7',
              image_url: 'https://image.ibb.co/'\
                'eZtAjb/Thumb_Palestra_Braghini_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248492736' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video8',
              image_url: 'https://image.ibb.co/'\
                'jJqCxw/Thumb_Palestra_Cesar_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248498997' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video9',
              image_url: 'https://image.ibb.co/'\
                'bQmy56/Thumbs_CIFSQ_Gustavo_Vilela_640.jpg',
              video_url: 'https://player.vimeo.com/video/248987695' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video10',
              image_url: 'https://image.ibb.co/'\
                'bvFn76/Thumb_Palestra_Lande_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248502995' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video11',
              image_url: 'https://image.ibb.co/'\
                'fW9pcw/Thumb_Palestra_Roberta_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248506520' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video12',
              image_url: 'https://image.ibb.co/'\
                'co4Y4b/Thumb_Palestra_Fernanda_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248499043' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video13',
              image_url: 'https://image.ibb.co/'\
                'bRhxVG/Thumb_Palestra_Kater_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248502845' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video13',
              image_url: 'https://image.ibb.co/'\
                'kAhmPb/Thumb_Palestra_Rodrigo_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248504775' \
            }
        .medium-6.large-4.cell
          = render partial: 'layouts/video_reveal',
            locals: { \
              id: 'cifsq-video13',
              image_url: 'https://image.ibb.co/'\
                'kmhxVG/Thumb_Palestra_Elizabeth_CIFSQ_2017_640.jpg',
              video_url: 'https://player.vimeo.com/video/248506462' \
            }
        .medium-6.large-8.cell.text-center.cta
          h5
            ' Além de mais 13 palestras do CIFSQ (com Dr. Edmond Saab; Dra.
            ' Leniane Nogueira; Dr. Francisco Vianna; Dra. Elizete Kaffer, etc.)
            '. É só clicar no botão abaixo e aprender com mais de 200 conteúdos
            | exclusivos.
          .grid-x
            .medium-10.medium-centered.cell
              = link_to 'Clique e comece a crescer!',
                '#crescer',
                class: 'button expanded large success'
  .testimonials
    .grid-container
      .grid-x.grid-padding-x
        .medium-6.cell.text-center
          = image_tag 'https://image.ibb.co/mfZt86/Boris_Petrovic.png'
          h5 Presidente do Instituto Nikola Tesla
          p
            ' "Nunca presenciei um evento tão bem focado juntando médicos
            ' de várias especializações do Brasil inteiro, abertos para o campo
            ' de medicina energética e integrativa. Novas oportunidades para
            | pesquisa e desenvolvimento na área Biofísica da Saúde no Brasil."
        .medium-6.cell.text-center
          = image_tag 'https://image.ibb.co/bT07GR/Dr_Carlos_Braghini.png'
          h5 Médico, Professor e Quiropraxista
          p
            ' "Estar associado à plataforma Pangeas me torna participante deste
            ' projeto maravilhoso. E de bônus, me traz a certeza de que terei
            ' acesso a conteúdo relevante, pouco acessível nos canais
            ' convencionais e de qualidade impecável. Vida longa e próspera à
            ' equipe Pangeas."
  #crescer
    = render \
      partial: 'layouts/pricing_table',
      locals: { \
        title: 'Como começar a crescer' \
      }
  .sponsor.bg-white
    .grid-container
      .grid-x
        .auto.cell
        .medium-4.cell.text-center
          p Uma realização
          = image_tag 'https://image.ibb.co/bxazY7/logo_Quantum_BIO.jpg'
        .auto.cell
