.sections-show-courses-container
  background-color: $white
  .hero
    .title
      padding-bottom: 3rem
      border-bottom: solid 2px $dark-gray
      .grid-x
        margin-bottom: 1rem
        .img-container
          max-width: 90px
      h2
        padding-top: 1rem
