.sections-show-courses-container
  background-color: $white
  .hero
    .title
      margin-bottom: 0
      padding-bottom: 3rem
      border-bottom: solid 2px $dark-gray
      .grid-x
        margin-bottom: 1rem
        .img-container
          max-width: 90px
      h2
        padding-top: 1rem
  .courses
    .course
      margin-bottom: 3rem
      padding-bottom: 3rem
      border-bottom: solid 2px $dark-gray
      &:last-child
        margin-bottom: 0
        border-bottom: none
      .info
        .pricing
          margin-bottom: 0.7rem
          h5
            margin-bottom: 0
        .description
          text-align: justify
