.forms-container
  .grid-container
    .devise-form.payment-form.grid-x.grid-padding-x
      .medium-6.medium-centered.cell
        .grid-x#error-box.hidden
          .large-12.cell
            .alert-box.alert
              h5 Não foi possível cadastrar meio de pagamento
              ul#error-list
        = form_with url: subscriptions_path, id: 'payment-form',
            data: { \
              account: ENV['IUGU_ACCOUNT_ID'],
              test: ENV['IUGU_TEST_MODE'] \
            }
          h3.text-center Por favor, digite seus dados de pagamento
          input[
            type="hidden"
            name="subscription[recurrence]"
            value=params[:recurrence]
          ]
          .usable-creditcard-form
            .wrapper
              .input-group.nmb_a
                .icon.ccic-brand
                input[
                  autocomplete="off"
                  class="credit_card_number"
                  data-iugu="number"
                  placeholder="Número do Cartão"
                  type="text"
                  value=""
                ]
              .input-group.nmb_b
                .icon.ccic-cvv
                input[
                  autocomplete="off"
                  class="credit_card_cvv"
                  data-iugu="verification_value"
                  placeholder="CVV (3 dígitos no verso do cartão)"
                  type="text"
                  value=""
                ]
              .input-group.nmb_c
                .icon.ccic-name
                input[
                  class="credit_card_name"
                  data-iugu="full_name"
                  placeholder="Titular do Cartão"
                  type="text"
                  value=""
                ]
              .input-group.nmb_d
                .icon.ccic-exp
                input[
                  autocomplete="off"
                  class="credit_card_expiration"
                  data-iugu="expiration"
                  placeholder="MM/AA"
                  type="text"
                  value=""
                ]
              .footer.mb-3rem
                = image_tag 'https://image.ibb.co/c338am/cc_icons.png',
                  class: 'float-left'
                a.iugu-btn href="http://iugu.com" tabindex="-1"
                  = image_tag \
                    'https://image.ibb.co/mPwuFm/payments_by_iugu.png',
                    class: 'float-right'
          .token-area.clear-both
            input[
              type="hidden"
              name="token"
              id="token"
              value=""
              readonly="true"
              size="64"
              style="text-align:center"
            ]
          .grid-x
            button.button.success.large.expand.large-12.cell type="submit"
              | Salvar
