.pink-color
  color: $pink-color

.yellow-color
  color: $yellow-color

.white-color
  color: $white

.blue-highlight
  color: $blue-highlight

.bg-black
  background-color: $black

.bg-white
  background-color: $white

.bg-primary
  background-color: $primary-color

.bg-success
  background-color: $success-color

.bg-yellow
  background-color: $yellow-color

.bg-pink
  background-color: $pink-color

.bg-highlight
  background-color: $blue-highlight

.bg-light-gray
  background-color: $light-gray

.bg-medium-gray
  background-color: $medium-gray

.bg-dark-gray
  background-color: $dark-gray

.all-caps
  text-transform: uppercase

.border-right-white
  border-right: solid $white 1px

.img-container
  text-align: center

.m-0
  margin: 0

.hero
  padding-top: 3rem
  padding-bottom: 3rem
  .title
    margin-bottom: 3rem

.button
  text-transform: uppercase
  font-weight: bold

.bold
  font-weight: bold

.position-relative
  position: relative

.text-right
  text-align: right

.text-left
  text-align: left
