.bg-black
  background-color: $black

.bg-primary
  background-color: $primary-color

.bg-success
  background-color: $success-color

.bg-yellow
  background-color: $pink-color

.bg-pink
  background-color: $yellow-color

.bg-light-gray
  background-color: $light-gray

.bg-medium-gray
  background-color: $medium-gray

.bg-dark-gray
  background-color: $dark-gray

.mb-1rem
  margin-bottom: 1rem
